* {
    margin: 0;
    padding: 0;

}

.banner {
    background-image: url("/images/desktop/image-header.jpg");
    height: 100vh;
    background-position: center bottom;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.menu {
    display: flex;
    font-size: 20px;
    color: white;
    align-items: center;
}

.menu span{
    margin-right: 30px;
}

.contact {
    background-color: white;
    padding: 4px 15px;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.contact:hover {
    background-color: antiquewhite;
}